@use '@/vars' as *;

.review-stats {
  overflow-y: auto;

  table {
    width: 100%;
    margin-bottom: 24px;
    border-collapse: collapse;

    tr {
      &:nth-of-type(even) {
        background-color: $color-background;
      }

      td {
        text-align: center;

        a {
          text-decoration: none;
        }
      }
    }
  }

  .finish {
    float: right;
  }
}
