@use '@/vars' as *;

.review-forecast {
  overflow-y: auto;
  width: min-content;
  height: 250px;

  .skeleton {
    display: grid;
    place-items: center;
    height: 170px;
  }

  table {
    width: 100%;

    tr {
      height: 20px;

      td {
        padding: 0 4px;
        white-space: nowrap;

        &.line {
          width: 100%;

          div {
            height: 16px;
            border-radius: 0 12px 12px 0;
            background-color: $color-main;
          }
        }
      }
    }
  }
}
