@use '@/vars' as *;

.button {
  @include hover;
  @include center;

  padding: 0;
  border: none;
  background-color: $color-content-background;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
