@use '@/vars' as *;

.edit-event {
  overflow-y: auto;
  height: calc(100% - 48px);
  margin: 16px;

  .field {
    margin-bottom: 16px;

    div {
      font-weight: bold;
    }
  }

  .repeat-description {
    margin: 8px;
    color: $color-text-not-intrusive;
  }

  .button-line {
    display: flex;
    width: 100%;
    height: 48px;
    margin-bottom: 16px;
    border: border();
    font-weight: bold;
    font-size: 32px;

    button {
      @include hover;

      position: relative;
      flex-grow: 1;
      height: 100%;

      &.active {
        background-color: $color-main;
      }
    }
  }
}
