@use '@/vars' as *;

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;

  .event {
    @include hover;

    position: relative;
    z-index: 0;
    width: 100%;
    min-width: 256px;
    margin: 8px 0;
    padding: 16px;
    border-bottom: border(8px, $color-main);
    border-radius: 8px;
    background-color: $color-content-background;
    box-shadow: 0 0 4px 2px rgb(0 0 0 / 20%);

    &:hover {
      z-index: 1;
    }

    &.success {
      border-bottom-color: $color-success;
    }

    &.failure {
      border-bottom-color: $color-error;
    }

    &.skip {
      border-bottom-color: $color-border;
    }

    .title {
      display: flex;
      justify-content: space-between;
      font-weight: 600;
      font-size: 24px;

      div {
        display: flex;
        align-items: center;
      }
    }

    .description {
      margin: 16px 0;
      white-space: preserve-breaks;
    }

    .sub {
      display: flex;
      justify-content: space-between;
      color: $color-text-not-intrusive;
      font-weight: 400;
      font-size: 12px;
    }
  }

  .freetime {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    min-width: 256px;
    height: 48px;
    border: border();
    border-radius: 8px;
    background: repeating-linear-gradient(45deg, transparent, transparent 16px, $color-border 16px, $color-border 32px);
    font-weight: 600;
    font-size: 32px;

    .title {
      display: flex;
      align-items: center;
    }
  }

  .progress {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $color-main;
    opacity: 0.5;
  }
}
