@use '@/vars' as *;

.audio {
  display: flex;
  justify-content: left;
  width: min-content;
  border-radius: 8px;
  background-color: $color-content-background-light;
  transition: box-shadow $transition-time;

  &:hover {
    box-shadow: 0 0 4px 4px rgb(0 0 0 / 20%);
  }

  .content {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding: 4px;
    cursor: pointer;
  }

  .add {
    @include hover($color-border);

    margin: 4px;
    border-radius: 4px;
    background-color: $color-content-background-light;
  }
}
