@use '@/vars' as *;

.tooltip {
  position: fixed;
  z-index: 10;
  transform: translateX(-50%);
}

.tooltip-content {
  padding: 4px;
  border-radius: 4px;
  background-color: $color-background;
  box-shadow: 0 0 4px 4px rgb(0 0 0 / 20%);
  font-size: 16px;
}
