@use '@/vars' as *;

.subjects {
  @include hover;

  display: grid;
  place-items: center;
  min-width: 64px;
  height: 64px;
  padding: 0;
}

.special {
  position: relative;
  width: calc(50% - 16px);
  height: 200px;
  background: linear-gradient(to bottom, transparent, $color-main-light);
  background-color: $color-main;
  text-align: left;
  text-decoration: none;
  transition: background-color $transition-time;

  &:hover {
    background-color: $color-main-light;
  }

  &.disabled {
    background: unset;
    background-color: $color-border;
    cursor: no-drop;
  }

  input {
    width: 100%;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  :global {
    .skeleton {
      background-color: $color-main-light;
      background-image: linear-gradient(90deg, rgba($color-main, 0), rgba($color-main, 0.5), rgba($color-main, 0));
    }
  }

  .reviews-amount {
    height: 29.5px;
  }

  .settings-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 2px;
    border-radius: 4px;
    background-color: transparent;

    &:hover {
      background-color: $color-main;
    }
  }
}
