@font-face {
  font-family: BestTenCRT;
  src: url('/fonts/BestTen-CRT.otf');
  unicode-range: U+3000-9faf;
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: Minecraft;
  src: url('/fonts/Minecraft.otf');
}
@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: Minecraft;
  src: url('/fonts/MinecraftBold.otf');
}
@font-face {
  font-weight: bold;
  font-style: italic;
  font-family: Minecraft;
  src: url('/fonts/MinecraftBoldItalic.otf');
}
@font-face {
  font-weight: normal;
  font-style: italic;
  font-family: Minecraft;
  src: url('/fonts/MinecraftItalic.otf');
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Digital-7';
  src: url('/fonts/digital7.ttf');
}
@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: 'Digital-7';
  src: url('/fonts/digital7Bold.ttf');
}
@font-face {
  font-weight: bold;
  font-style: italic;
  font-family: 'Digital-7';
  src: url('/fonts/digital7BoldItalic.ttf');
}
@font-face {
  font-weight: normal;
  font-style: italic;
  font-family: 'Digital-7';
  src: url('/fonts/digital7Italic.ttf');
}

body {
  &.pixelated-font {
    font-family: Minecraft, 'Segoe UI', tahoma, geneva, verdana, sans-serif;
  }

  &.jp-pixelated-font {
    font-family: BestTenCRT, 'Segoe UI', tahoma, geneva, verdana, sans-serif;
  }

  &.all-pixelated-font {
    font-family:
      BestTenCRT, Minecraft, 'Segoe UI', tahoma, geneva, verdana, sans-serif;
  }
}
