@use 'vars' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
}

html {
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  margin: 0;
  background: $color-background;
  color: $color-text;
  font-family: 'Segoe UI', tahoma, geneva, verdana, sans-serif;

  &.dragging {
    cursor: move;
    user-select: none;
  }
}

/* stylelint-disable-next-line selector-max-id */
#root {
  height: 100dvh;
}

button {
  @include center;
  @include hover;

  padding: 0;
  border: none;
  background-color: $color-content-background;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
